@import 'styles/media';
.root {
  font-family: var(--font-family-second);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--pink-color);
}

.option {
  &-main {
    width: auto;
    border: 1px solid var(--pink-color);
    border-radius: 100px;

    transition:
      background 300ms linear,
      color 300ms linear,
      transform 300ms linear;

      @include hover {
          background: var(--pink-color);
          color: var(--white-color);
          box-shadow: 0 5px 9px 0 var(--pink-alt-color);
          transform: translateY(-4px);
      }
  }
  &-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 148px;
    height: 22px;
    border: none;
  }
}
