.root {
  position: absolute;
  top: 25px;
  left: 0;

  // display: none;
  width: 242px;
  height: 309px;

  background: var(--white-color);
  transition: transform 300ms linear, opacity 250ms linear ;
}



.option {
  &-main {
    opacity: 0;
    
    &:after {
      content: "";
      position: absolute;
      top: -10px;
      left: 32px;

      border: 5px solid transparent;
      border-bottom: 5px solid #fff;
    }
  }

  &-sidebar {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    transform: translateX(100%);

    // opacity: 0;

    // .list {
    //   opacity: 0;
    // }

    //  .active {
    //   opacity: 1;
    // }
  }
}

.active {
  transform: translate(0, 0);
  opacity: 1;

  // display: block;
}