.root {
  display: flex;
  padding: 0 27px;
}
.description {
  display: flex;
  flex-direction: column;

  width: 557px;
  height: 296px;
  margin-left: 59px;
}

.title{
  margin-bottom: 25px;
}
.text {
  margin-bottom: 31px;
  
}