@import 'styles/media';

.root {
  padding: 0 22px;

  @include media(d) {
    padding: 0 10px;
  }
}

.container{
  display: flex;

  @include media(d) {
    flex-direction: column;
  }
}

.description {
  display: flex;
  flex-direction: column;
  align-items: start;

  width: 557px;
  height: 296px;
  margin-left: 59px;

  @include media(d) {
    width: auto;
    margin: 40px 0 0 0;
  }
}

.title{
  margin-bottom: 25px;

  @include media(d) {
    margin-bottom: 12px;
  }
}
.text {
  margin-bottom: 31px;
  
  @include media(d) {
    margin-bottom: 25px;
  }
}

.link{
  position: relative;
  color: var(--blue-color);
  
  &:after {
    content: '';
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 100%;
    height: 1px;
    margin-top: 1px;
    background-color: var(--blue-color);
  }
}

.button {
  padding: 14px 40px;
}
