@import "styles/mixins";

.root {
  display: flex;
  align-items: center;

  color: var(--black-light-color);
  transition: color 300ms linear;

  @include hover {
    color: var(--blue-color);
  }
  svg {
    margin-left: 5px;
  }
}

.button {
  display: flex;
  align-items: center;
}

.option {
  &-left {
    position: relative;
    font-size: 14px;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
    .static {
      transform: rotate(0);
      transition: transform 300ms linear;
    }

    .active {
      color: var(--blue-color);
      .dropdown {
        transform: rotate(180deg);
        transition: transform 300ms linear;
      }
    }
  }

  &-center {
    position: relative;
    padding-bottom: 7px;

    font-size: 12px;
    line-height: 83%;
    letter-spacing: 0.06em;

    &:first-child {
      margin-right: 60px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background: var(--gray-alt-color);
      transition: width 300ms linear;
    }

    @include hover {
      &::after {
        width: 0;
      }
    }
  }

  &-drop {
    padding: 15px 15px 0 15px;
    transition:
      background 300ms linear,
      color 300ms linear;

    & a {
      width: 100%;
      padding-bottom: 15px;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background: var(--gray-light-color);
        transition:
          background 300ms linear,
          color 300ms linear;
      }
    }

    @include hover {
      background-color: var(--blue-color);
      color: var(--white-color);

      a::after {
        background: var(--blue-color);
      }
    }

    &:last-child {
      & a {
        &::after {
          display: none;
        }
      }
    }
  }

  &-bottom {
    margin-right: 35px;

    .icon {
      margin-right: 15px;
    }

    .link {
      transition: color 300ms linear;

      @include hover {
        color: var(--pink-hover-color);
      }
    }
  }

  &-sidebar {
    padding: 20px 0;

    border-bottom: 1px solid var(--gray-color);

    .button {
      width: 100%;
      justify-content: space-between;
    }

    .icon {
      margin-right: 15px;
    }

    .static {
      width: 13px;
      height: 8px;
      transform: rotate(270deg);
      transition: transform 300ms linear;
    }
  }

  &-sidedrop {

    padding: 15px 0 15px 20px;

    .link {
      transition: color 300ms linear;

      @include hover {
        color: var(--blue-color);
      }
    }
  }
}
