@import "styles/media";

.root {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 116px 18px 157px;

  @include media(d) {
    padding: 70px 18px 77px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 68px;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  height: auto;
  margin: -50px -30px;

  @include media(d) {
    margin: -30px -11px;
  }
}
