@import "styles/mixins";

.root {
  position: absolute;
  top: 35px;
  right: 35px;

  width: 20px;
  height: 19px;
  color: var(--black-light-color);
  transition: color 300ms linear;

  @include hover {
    color: var(--blue-color);
  }
}
