.root {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms linear;

  background-color: rgba(0, 0, 0, 0.6);
  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.content {
  z-index: 100;
  position: relative;

  max-width: 50%;
  background: var(--white-color);
  transform: scale(0);
  transition: transform 200ms linear;

  &.active {
    transform: scale(1);
  }
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
