@import "styles/mixins";
@import 'styles/media';

.button {
  margin: 0 22px;
  color: var(--black-light-color);
  opacity: 0.5;
  transition:
    color 400ms linear,
    opacity 400ms linear;
  cursor: pointer;

  @include hover {
    opacity: 1;
    color: var(--blue-color);
  }

  @include media(d) {
    margin: 0;
  }
}
