@import 'styles/common.scss';
.button {
  margin: 0 42px;
  color: var(--black-light-color);
  opacity: 0.5;
  transition: color 400ms ease , opacity 400ms ease ;
  cursor: pointer;

  &:hover {
    opacity: 1 ; 
    color: var(--blue-color);
  }

}