.button {
  margin: 0 42px;
  color: var(--black-light-color);
  opacity: 0.5;
  transition:
    color 400ms linear,
    opacity 400ms linear;
  cursor: pointer;

  &:hover {
    opacity: 1;
    color: var(--blue-color);
  }
}
