// @import "styles/common";
.root {
  display: flex;
}
.nav {
  display: flex;
  margin-right: 35px;
}
.icon {
  margin-right: 15px;
}

.link {
  transition: color 300ms linear;
  &:hover {
    color: var(--pink-hover-color);
  }
}
